name: loan-project-ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

permissions:
  contents: read

jobs:
  #Kubernetes manifest security scan using Kubesec        
  kubesec-scan:
    name: Kubernetes-manifest Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      security-events: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Kubesec scanner
        uses: controlplaneio/kubesec-action@master
        with:
          input: "my-assignment/government-api my-assignment/loan-validator-portal my-assignment/postgres my-assignment/common-resources my-assignment/otel"
          format: json
          template: json
          output: 'kubesec-report.json'
          exit-code: '0'

      - name: Upload Kubesec scan results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: kubesec-scan-report
          path: kubesec-report.json