name: loan-project-ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

permissions:
  contents: read

jobs:
  #Kubernetes manifest security scan using Kubesec        
  kubesec-scan:
    name: Kubernetes-manifest Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      security-events: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Kubesec
        run: |
          curl -sSL https://github.com/controlplaneio/kubesec/releases/latest/download/kubesec_linux_amd64.tar.gz \
          | tar -xz
          sudo mv kubesec /usr/local/bin/

      - name: Run Kubesec Scan
        run: |
          kubesec scan ./my-assignment/government-api/*.yaml