name: loan-project-ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  workflow_dispatch:
    
  schedule:
    - cron: '0 0 * * 0' # Weekly on Sundays at midnight

permissions:
  contents: read

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up GO
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-  

      - name: Install dependencies
        run: |
          cd government_api/backend && go mod tidy

      - name: Build project
        run: |
          cd government_api/backend && go build -v ./...

      - name: Run tests
        run: |
          cd government_api/backend && go test -v ./...

      - name: Scan code with Trivy
        uses: aquasecurity/trivy-action@v0.9.0
        with:
          scan-type: 'fs'
          scan-path: './government_api/backend'
          format: 'json'
          exit-code: '1'
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          output: 'trivy-report.json'

      - name: Upload Trivy scan results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: trivy-scan-report
          path: trivy-report.json