name: loan-project-ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

permissions:
  contents: read

jobs:
  #Kubernetes manifest security scan using Kubesec        
  kubesec-scan:
    name: Kubernetes-manifest Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      security-events: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Kubesec
        run: |
          curl -sSL https://github.com/controlplaneio/kubesec/releases/latest/download/kubesec_linux_amd64.tar.gz \
          | tar -xz
          sudo mv kubesec /usr/local/bin/

      - name: Run Kubesec Scan
        run: |
          kubesec scan ./my-assignment/government-api/deployment.yaml > kubesec-report.json || true
        
      - name: Upload Kubesec Report
        uses: actions/upload-artifact@v4
        with:
          name: kubesec-scan-report
          path: kubesec-report.json
      
      - name: Run Kube-scoe
        uses: controlplaneio/kubesec-action@v1
        with:
          file: ./my-assignment/government-api/deployment.yaml
          output_format: 'json'
          output_file: 'kubesec-score-report.json'