name: loan-project-ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

permissions:
  contents: read

jobs:
  #Kubernetes manifest security scan using Kubesec        
  kubesec-scan:
    name: Kubernetes-manifest Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      security-events: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Kubesec
        run: |
          curl -sSL https://github.com/controlplaneio/kubesec/releases/latest/download/kubesec_linux_amd64.tar.gz \
          | tar -xz
          sudo mv kubesec /usr/local/bin/

      - name: Run Kubesec Scan
        run: |
          kubesec scan ./my-assignment/government-api/deployment.yaml > kubesec-report.json || true
        
      - name: Upload Kubesec Report
        uses: actions/upload-artifact@v4
        with:
          name: kubesec-scan-report
          path: kubesec-report.json
      
      - name: Install kube-score
        run: |
          curl -L -o kube-score https://github.com/zegl/kube-score/releases/download/v1.11.0/kube-score_1.11.0_linux_amd64
          chmod +x kube-score
          sudo mv kube-score /usr/local/bin/
          
      - name: Pod security standards check
        run: |
          kube-score score ./my-assignment/government-api/deployment.yaml --output-format json > kube-score-report.json || true