name: loan-project-ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

permissions:
  contents: read

jobs:
  #Source code build, test, and scan
  build-and-scan:
    name: Build, Test and Scan
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    strategy:
      matrix:
        component: 
          - name: government-api
            path: './government_api/backend'  # Different paths
          - name: loan-api
            path: './loan_validator_portal/backend'
    defaults:
      run:
        working-directory: ${{ matrix.component.path }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up GO
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ matrix.component.name }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.component.name }}-

      - name: Install dependencies
        run: go mod tidy

      - name: Build project
        run: go build -v main.go

      - name: Run tests
        run: go test -v main.go

      - name: Scan code with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'json'
          exit-code: '0'
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          output: '${{ matrix.component.name }}-trivy-report.json'

      - name: Upload Trivy scan results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.component.name }}-trivy-scan-report
          path: '${{ matrix.component.name }}-trivy-report.json'
  #Docker build, scan, and push
  docker-build-push:
   name: Build and push Docker Always-Pull-Images
   runs-on: ubuntu-latest
   if: github.ref == 'refs/heads/main'

   strategy:
     matrix:
       component:
         - name: government-api
           context: ./government_api
           dockerfile: ./government_api/backend/Dockerfile
         - name: loan-validator-portal
           context: ./loan_validator_portal
           dockerfile: ./loan_validator_portal/backend/Dockerfile.instrumented
   steps:
     - name: Checkout code
       uses: actions/checkout@v4
     
     - name: Set up Docker Buildx
       uses: docker/setup-buildx-action@v2
      
     - name: Log in to Docker Hub
       uses: docker/login-action@v3
       with:
         username: ${{ secrets.DOCKER_USERNAME }}
         password: ${{ secrets.DOCKERHUB_TOKEN }}

     - name: Build Docker image
       id: build-image
       env:
          IMAGE_NAME: ${{ matrix.component.name }}
       run: |
          docker build \
            --build-arg IMAGE_NAME=${{ matrix.component.name }} \
            -f ${{ matrix.component.dockerfile }} \
            -t ${{ secrets.DOCKER_USERNAME }}/${{ matrix.component.name }}:${{ matrix.component.name }} \
            ${{ matrix.component.context }}
    
     - name: Save Docker image 
       run: |
          docker save ${{ secrets.DOCKER_USERNAME }}/${{ matrix.component.name }}:${{ matrix.component.name }} -o ${{ matrix.component.name }}.tar

     - name: Scan Docker image with Trivy
       uses: aquasecurity/trivy-action@master
       with:
         scan-type: 'image'
         scan-ref: ${{ secrets.DOCKER_USERNAME }}/${{ matrix.component.name }}:${{ matrix.component.name }}
         format: 'table'
         exit-code: '0'
         vuln-type: 'os,library'
         severity: 'CRITICAL,HIGH'
         output: '${{ matrix.component.name }}-docker-trivy-report.txt'
     
     - name: Upload Docker Trivy scan results
       if: always()
       uses: actions/upload-artifact@v4
       with:
         name: ${{ matrix.component.name }}-docker-trivy-scan-report
         path: '${{ matrix.component.name }}-docker-trivy-report.txt'

     - name: Install Cosign for image signing
       uses: sigstore/cosign-installer@main

     - name: Write Cosign key
       run: 'printf "%s" "${{ secrets.COSIGN_PRIVATE_KEY }}" > cosign.key'

     - name: Sign Docker image with Cosign
       env:
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
       run: |
          cosign sign --key cosign.key ${{ secrets.DOCKER_USERNAME }}/${{ matrix.component.name }}:${{ matrix.component.name }}

     - name: Push Docker image to Docker Hub
       if: always()
       run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ matrix.component.name }}:${{ matrix.component.name }}

  #Kubernetes manifest security scan using Kubesec        
  kubesec-scan:
    name: Kubernetes-manifest Scan
    runs-on: ubuntu-latest
    needs: docker-build-push
    permissions:
      contents: read
      actions: read
      security-events: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Kubesec
        run: |
          curl -sSL https://github.com/controlplaneio/kubesec/releases/latest/download/kubesec_linux_amd64.tar.gz \
          | tar -xz
          sudo mv kubesec /usr/local/bin/

      - name: Run Kubesec Scan
        run: |
          kubesec scan ./my-assignment/government-api/deployment.yaml \
                       ./my-assignment/loan-validator/deployment.yaml \
                        > kubesec-report.json || true
        
      - name: Upload Kubesec Report
        uses: actions/upload-artifact@v4
        with:
          name: kubesec-scan-report
          path: kubesec-report.json
      
      - name: Install kube-score
        run: |
          curl -L -o kube-score https://github.com/zegl/kube-score/releases/download/v1.11.0/kube-score_1.11.0_linux_amd64
          chmod +x kube-score
          sudo mv kube-score /usr/local/bin/

      - name: Pod security standards check
        run: |
          kube-score score ./my-assignment/government-api/deployment.yaml \
                           ./my-assignment/loan-validator/deployment.yaml \
                           --output-format json > kube-score-report.json || true

      - name: Upload kube-score Report
        uses: actions/upload-artifact@v4
        with:
          name: kube-score-report
          path: kube-score-report.json

      - name: Install kube-linter
        run: |
          curl -sSL https://github.com/stackrox/kube-linter/releases/latest/download/kube-linter-linux \
          -o kube-linter
          chmod +x kube-linter
          sudo mv kube-linter /usr/local/bin/
    
      - name: Run kube-linter Scan
        run: |
          kube-linter lint ./my-assignment/government-api/*.yaml \
                           ./my-assignment/loan-validator/*.yaml \
                           --format json > kube-linter-report.json || true

      - name: Upload kube-linter Report
        uses: actions/upload-artifact@v4
        with:
          name: kube-linter-report
          path: kube-linter-report.json